<div class="container">
  <div class="row d-flex mt-5">
      <h2>新規登録</h2>
      <div class="ml-auto">
        <span>既に登録済みの方：</span>
          <%= link_to 'こちら',new_user_session_path %>
        <span>をクリック</span>
      </div>
  </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field ml-2 mt-3">
        <%= f.label :last_name,"名前（性）:"%>
        <%= f.text_field :last_name%>
      </div>

      <div class="field ml-2 mt-3">
        <%= f.label :first_name,"名前（名）:"%>
        <%= f.text_field :first_name%>
      </div>

      <div class="field ml-2 mt-3">
        <%= f.label :nickname,"ニックネーム:"%>
        <%= f.text_field :nickname%>
      </div>

      <div class="field ml-2 mt-3">
        <%= f.label :occupation_id,"職業:"%>
        <%= f.select :occupation_id,options_from_collection_for_select(Occupation.all,:id,:name) %>
      </div>

      <div class="field ml-2 mt-3">
        <%= f.label :email,"メールアドレス:" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field ml-2 mt-3">
        <%= f.label :password,"パスワード"%>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上):</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field ml-2 mt-3">
        <%= f.label :password_confirmation,"パスワード（確認用）:" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

        <div class="actions mt-3 text-center">
          <%= f.submit "登録する",class: "btn btn-success" %>
        </div>
    <% end %>

</div>





