<div class="container-influid">

  <div class="row mx-0 my-2">
    <div class="col-md-2 offset-md-2">
      <span class="page_title h2">新規登録</span>
    </div>
    <div class="col-md-4 offset-md-2 mt-2 h5">
      <span>既に登録済みの方：</span>
          <%= link_to 'こちら',new_user_session_path %>
      <span>をクリック</span>
    </div>
  </div>

  <!--新規登録時の入力項目-->
  <%= form_with model: @user,url: user_registration_path,local: true do |f| %>
      <!--エラーメッセージの表示-->
      <%= render "devise/shared/error_messages", resource: resource %>

      <!--名前（性）-->
      <div class="form-group row mx-0 mt-1">
        <div class="col-md-2 offset-md-3 col-form-label">
          <%= f.label :last_name,"名前（性）：",class: "h5"%>
        </div>
        <div class="col-md-2">
          <%= f.text_field :last_name,placeholder: "例：田中",class: "form-control"%>
        </div>
      </div>

      <!--名前（名）-->
      <div class="form-group row mx-0 mt-1">
        <div class="col-md-2 offset-md-3 col-form-label">
          <%= f.label :first_name,"名前（名）：",class: "h5"%>
        </div>
        <div class="col-md-2">
          <%= f.text_field :first_name,placeholder: "例：太郎",class: "form-control"%>
        </div>
      </div>

      <!--ニックネーム-->
      <div class="form-group row mx-0 mt-1">
        <div class="col-md-2 offset-md-3 col-form-label">
          <%= f.label :nickname,"ニックネーム",class: "h5"%>
          <span>（10文字以内）:</span>
        </div>
        <div class="col-md-2">
          <%= f.text_field :nickname ,placeholder: "例：タロウ座右衛門",class: "form-control"%>
        </div>
      </div>

      <!--職業-->
      <div class ="form-group row mx-0 mt-1">
        <div class="col-md-2 offset-md-3 col-form-label">
          <%= f.label :occupation_id,"職業:",class: "h5"%>
        </div>
        <div class="col-md-2">
          <%= f.select :occupation_id,options_from_collection_for_select(Occupation.all,:id,:name)%>
        </div>
      </div>

      <!--メールアドレス-->
      <div class ="form-group row mx-0 mt-1">
        <div class="col-md-2 offset-md-3 col-form-label">
          <%= f.label :email,"メールアドレス:",class: "h5"%>
        </div>
        <div class="col-md-3">
          <%= f.email_field :email,placeholder: "xxx@yyy.zzz", autofocus: true, autocomplete: "email",class: "form-control" %>
        </div>
      </div>

      <!--パスワード-->
      <div class ="form-group row mx-0 mt-1">
        <div class="col-md-2 offset-md-3 col-form-label">
          <%= f.label :password,"パスワード",class: "h5"%>
          <% if @minimum_password_length %>
            <span>(<%= @minimum_password_length %> 文字以上):</span>
          <% end %>
        </div>
        <div class="col-md-3">
          <%= f.password_field :password, autocomplete: "new-password",class: "form-control" %>
        </div>
      </div>

      <!--パスワード確認用-->
      <div class ="form-group row mx-0 mt-1">
        <div class="col-md-2 offset-md-3 col-form-label">
          <%= f.label :password_confirmation,"パスワード（確認用）:",class: "h5"%>
        </div>
        <div class="col-md-3">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
        </div>
      </div>

      <!--登録ボタン-->
      <div class="col-md-4 offset-md-4 mb-2 ">
        <%= f.submit "登録する",class: "btn btn-block btn-success" %>
      </div>

    <% end %>
</div>