<table class="table table table-hover table-sm mt-3">
  <thead class="thead-dark">
    <tr class="text-center">
      <th style="width: 30%">ユーザ名</th>
      <th style="width: 30%">職種</th>
      <th style="width: 10%">投稿ガジェット数</th>
      <th style="width: 10%">フォロー数</th>
      <th style="width: 10%">フォロワー数</th>
      <th style="width: 10%"> <!--フォロー/フォロー解除ボタン--></th>

    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr class="text-center">
        <!--ユーザ名-->
        <td>
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image,size: "50x50",
                class: "rounded-circle border border-info border-3"%>
            <%= user.nickname %>
          <% end %>
        </td>
        <!--職種-->
        <td>
          <%= render 'users/occupation_btn',user: user %>
        </td>
        <!--投稿ガジェット数-->
        <td>
          <%= user.gadgets.count %>
        </td>
        <!--フォロー数-->
        <td>
          <%= user.followings.count %>
        </td>
        <!--フォロワー数-->
        <td>
          <!--フォロワー数の部分テンプレート-->
          <%= render 'users/number_of_followers',user: user %>
        </td>
        <!--フォロー/フォロー解除ボタン-->
        <td>
          <% unless user == current_user %>
            <%= render "relationships/follow_btn",user: user %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--ページネーションの設定-->
<div>
  <%= paginate users,class: "bg-reset"%>
</div>