<!--コメント一覧の表示：【部分テンプレート】-->
  <table id="comment-display-area" class="table">
    <% gadget_comments.each do |gadget_comment| %>
    <tbody>
      <tr>
        <th class="bg-light">
            <%= link_to user_path(gadget_comment.user) do %>
              <%= image_tag gadget_comment.user.get_profile_image,size: "30x30",
                class: "rounded-circle border border-3 border-info" %>
              <%= gadget_comment.user.nickname %>
            <% end %>
        </th>
      </tr>
      <tr class="bg-white">
        <td>
          <!--ガジェットに対するコメント-->
          <%= gadget_comment.comment %>
          <!--ゲストはガジェット記事詳細を閲覧可能だが、ユーザ情報を持っていないため判断条件を追加-->
          <% if gadget_comment.user == current_user && current_user != nil%>
            <%= link_to "コメント削除",gadget_gadget_comment_path(gadget_comment.gadget,gadget_comment),
              data: {confirm: "本当に対象コメントを削除しますか？"},class: "btn btn-danger",
              method: :delete,remote: true%>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>









