<div class="container">
  <div class="row d-flex mt-5">
    <h2>ログイン</h2>
      <div class="ml-auto h4">
        <span>まだ登録がお済みでない方：</span>
          <%= link_to 'こちら',new_user_registration_path %>
        <span>をクリック</span>
      </div>
  </div>

  <!--ログイン時の入力項目-->
  <%= form_with model: @user,url: user_session_path,local: true do |f| %>
    <!--メールアドレス-->
    <div class ="form-group row ml-2 mt-3">
      <div class="form-title col-3 ml-2 mt-3">
        <%= f.label :email,"メールアドレス",class: "h4"%>
      </div>
      <div class="form-field col-8 ml-2 mt-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>

    <!--パスワード-->
    <div class ="form-group row ml-2 mt-3">
      <div class="form-title col-3 ml-2 mt-3">
        <%= f.label :password,"パスワード",class: "h4"%>
      </div>
      <div class="form-field col-8 ml-2 mt-3">
          <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>

    <!--ログイン情報の保持-->
    <div class ="form-group row ml-2 mt-3">
      <div class="form-title col-3 ml-2 mt-3">
        <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me,"ログイン情報を保持する" %>
        <% end %>
      </div>
    </div>


    <div class="actions mt-3 text-center">
      <%= f.submit "ログインする",class:"btn btn-success" %>
    </div>
<% end %>


</div>