<div class="container">
  <div class="row d-flex mt-5">
    <h2>ログイン</h2>
      <div class="ml-auto">
        <span>まだ登録がお済みでない方：</span>
          <%= link_to 'こちら',new_user_registration_path %>
        <span>をクリック</span>
      </div>
  </div>

  <!--ログイン時の入力項目-->
  <%= form_with model: @user,url: user_session_path,local: true do |f| %>
    <div class="field ml-2 mt-3">
      <%= f.label :email,"メールアドレス:" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field ml-2 mt-3">
      <%= f.label :password,"パスワード:" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field ml-2 mt-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me,"ログイン状態を保持する" %>
      </div>
    <% end %>

    <div class="actions mt-3 text-center">
      <%= f.submit "ログインする",class:"btn btn-success" %>
    </div>
<% end %>


</div>