<!--ガジェット一覧：【部分テンプレート】-->
<div class="row">
  <% gadgets.each do |gadget| %>
    <div class="col-md-3 col-md-offset-2 mb-3">
      <div class="bg-white rounded shadow">
        <div class="thumbnail">
          <!--投稿ガジェット画像-->
          <%= image_tag gadget.get_gadget_image,class: "w-100 rounded gadget-thumbnail"%>
          <!--お気に入り登録ボタン-->
          <div class="favorite_btn-bg h5">
            <%= render 'favorites/favorite_btn',gadget: gadget %>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <!--投稿ガジェット名-->
            <%= gadget.name %>
          </h5>

          <%= render 'gadgets/read_only_score',gadget: gadget %>
          <div class="card-text">
            <%= render 'gadgets/tag_btns',gadget: gadget %>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <!--投稿ユーザ画像・投稿ユーザ名-->
          <%= link_to user_path(gadget.user) do %>
            <%= image_tag gadget.user.get_profile_image, size: "40x40",class: "rounded-circle"%>
            <small><%= gadget.user.nickname %></small>
          <% end %>
          <!--投稿日-->
          <small class="text-muted text-align-center">
            <%= gadget.date_conversion(gadget.created_at) %>
          </small>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div>
    <%= paginate gadgets,class: "bg-reset"%>
</div>