<!--ガジェット一覧：【部分テンプレート】-->
<table class="table">
    <thead>
      <tr class="font-weight-bold text-center">
        <th style="width: 10%">投稿日</th>
        <th style="width: 20%">投稿ユーザ名</th>
        <th style="width: 20%">投稿ガジェット名</th>
        <th style="width: 30%">タグ</th>
        <th style="width: 10%">投稿ユーザの評価</th>
        <th style="width: 10%">お気に入り数</th>
      </tr>
    </thead>
    <tbody>
      <% gadgets.each do |gadget| %>
      <tr class="text-center">
        <td>
          <!--投稿日-->
          <%= gadget.date_conversion(gadget.created_at) %>
        </td>
        <td>
          <!--投稿ユーザ名-->
          <%= link_to user_path(gadget.user) do %>
            <%= image_tag gadget.user.get_profile_image, size: "50x50",class: "rounded-circle border border-info"%>
            <%= gadget.user.nickname %>
          <% end %>

        </td>
        <td>
          <!--投稿ガジェット名-->
          <%= link_to gadget_path(gadget) do %>
            <%= image_tag gadget.get_gadget_image, size: "50x50",class: "border border-info"%>
            <%= gadget.name %>
          <% end %>
        </td>
        <td>
          <!--タグ-->
          <!--タグボタンのテンプレート-->
          <%= render 'gadgets/tag_btns',gadget: gadget %>
        </td>
        <td>
          <!--評価機能（表示のみ）の部分テンプレート-->
          <%= render 'gadgets/read_only_score',gadget: gadget %>
        </td>
        <td>
          <!--お気に入り機能の部分テンプレート-->
          <%= render 'favorites/favorite_btn',gadget: gadget %>
        </td>
      </tr>
      <% end %>
    </tbody>
</table>
  <div>
    <%= paginate gadgets,class: "bg-reset"%>
  </div>