<div class="container">

  <div class="row d-flex mt-5">
      <h2><span class="page_title">ガジェット記事の編集</span></h2>
      <div class="ml-auto">
        <%= link_to "ガジェット記事へ戻る",gadget_path(@gadget),class: "h4"%>
      </div>
  </div>

  <%= form_with model: @gadget,url: gadget_path(@gadget),method: :patch,local: true do |f| %>

    <!--エラーメッセージの表示（バリデーションにヒットした場合のみ）-->
    <%= render 'layouts/error_message',model: f.object %>

    <!--ガジェット名-->
    <div class ="form-group row ml-2 mt-3">
      <div class="form-title col-3 ml-2 mt-3">
        <%= f.label :name,"ガジェット名",class: "h4"%>
      </div>
      <div class="form-field col-8 ml-2 mt-3">
        <%= f.text_field :name %>
      </div>
    </div>

    <!--メーカ名-->
    <div class ="form-group row ml-2 mt-3">
      <div class="form-title col-3 ml-2 mt-3">
        <%= f.label :manufacture_name,"メーカ名",class: "h4"%>
      </div>
      <div class="form-field col-8 ml-2 mt-3">
        <%= f.text_field :manufacture_name %>
      </div>
    </div>

    <!--タグ-->
    <div class ="form-group row ml-2 mt-3">
      <div class="form-title col-3 ml-2 mt-3">
        <%= f.label :tag_name,"タグ",placeholder: "例：デジタル 時計" ,class: "h4" %>
      </div>
      <div class="form-field col-8 ml-2 mt-3">
        <%= f.text_field :tag_name %>
      </div>
    </div>

    <!--参考価格-->
    <div class ="form-group row ml-2 mt-3">
      <div class="form-title col-3 ml-2 mt-3">
        <%= f.label :price,"参考価格",class: "h4"%>
      </div>
      <div class="form-field col-8 ml-2 mt-3">
        <%= f.text_field :price %>
      </div>
    </div>

    <!--評価-->
    <div class ="form-group row ml-2 mt-3">
      <div class="form-title col-3 ml-2 mt-3">
        <%= f.label :score,"評価",class: "h4"%>
      </div>
      <div class="form-field col-8 ml-2 mt-3">
        <%= render 'gadgets/read_only_score',gadget: @gadget %>
      </div>

    <!--ガジェット画像-->
    <div class ="form-group row ml-2 mt-3">
      <div class="form-title col-3 ml-2 mt-3">
        <%= f.label :gadget_image,"ガジェット画像",class: "h4"%>
      </div>
      <div class="form-field col-8 ml-2 mt-3">
        <%= f.file_field :gadget_image %>
      </div>
    </div>

    <!--ガジェットの使用感-->
    <div class ="form-group row ml-2 mt-3">
      <div class="form-title col-3 ml-2 mt-3">
        <%= f.label :description,"ガジェットの使用感等",class: "h4"%>
      </div>
      <div class="form-field col-8 ml-2 mt-3 ">
        <%= f.text_area :description,class: "w-100 h-100"%>
      </div>
    </div>

    <div class="form-group text-center">
        <%= f.submit "更新する",class: "btn btn-success" %>
    </div>

  <% end %>
</div>
