<div class="container-fluid">

  <div class="row mx-0 my-2">
    <div class="col-md-4 offset-md-2">
      <span class="page_title h2">ガジェット記事の編集</span>
    </div>
     <div class="col-md-4 offset-md-2 mt-2 h5">
      <%= link_to "ガジェット記事へ戻る",gadget_path(@gadget),class: "h4"%>
    </div>
  </div>

  <!--ガジェット記事編集時の入力項目-->
  <%= form_with model: @gadget,url: gadget_path(@gadget),method: :patch,local: true do |f| %>

    <!--エラーメッセージの表示（バリデーションにヒットした場合のみ）-->
    <%= render 'layouts/error_message',model: f.object %>

    <!--ガジェット名-->
    <div class ="form-group row mx-0 mt-1">
      <div class="col-md-2 offset-md-3 col-form-label">
        <%= f.label :name,"ガジェット名：",class: "h5"%>
      </div>
      <div class="col-md-2">
        <%= f.text_field :name,class: "form-control" %>
      </div>
    </div>

    <!--メーカ名-->
    <div class ="form-group row mx-0 mt-1">
      <div class="col-md-2 offset-md-3 col-form-label">
        <%= f.label :manufacture_name,"メーカ名：",class: "h5"%>
      </div>
      <div class="col-md-2">
        <%= f.text_field :manufacture_name,class: "form-control"%>
      </div>
    </div>

    <!--タグ-->
    <div class ="form-group row mx-0 mt-1">
      <div class="col-md-2 offset-md-3 col-form-label">
        <%= f.label :tag_name,"タグ：",placeholder: "例：デジタル 時計" ,class: "h5" %>
      </div>
      <div class="col-md-2">
        <% unless @gadget.tags.blank? %>
          <%= f.text_field :tag_name,value: @gadget.display_multiple_tags(@gadget.tags),class: "form-control"%>
        <% else %>
          <%= f.text_field :tag_name,class: "form-control" %>
        <% end %>
      </div>
    </div>

    <!--参考価格-->
    <div class ="form-group row mx-0 mt-1">
      <div class="col-md-2 offset-md-3 col-form-label">
        <%= f.label :price,"参考価格",class: "h5"%>
      </div>
      <div class="col-md-2">
        <%= f.text_field :price,class: "form-control" %>
      </div>
    </div>

    <!--評価-->
    <div class ="form-group row mx-0 mt-1">
      <div class="col-md-2 offset-md-3 col-form-label">
        <%= f.label :score,"評価",class: "h5"%>
      </div>
      <div class="col-md-2">
        <%= render 'gadgets/read_only_score',gadget: @gadget,class: "form-control" %>
      </div>
    </div>

    <!--ガジェット画像-->
    <div class ="form-group row mx-0 mt-1">
      <div class="col-md-2 offset-md-3 col-form-label">
        <%= f.label :gadget_image,"ガジェット画像",class: "h5"%>
      </div>
      <div class="col-md-2">
        <%= f.file_field :gadget_image %>
      </div>
    </div>

    <!--ガジェットの使用感-->
    <div class ="form-group row mx-0 mt-1">
      <div class="col-md-2 offset-md-3 col-form-label">
        <%= f.label :description,"ガジェットの使用感等",class: "h5"%>
      </div>
      <div class="col-md-2">
        <%= f.text_area :description,class: "form-control w-100 h-100"%>
      </div>
    </div>

    <div class="form-group text-center">
        <%= f.submit "更新する",class: "btn btn-success" %>
    </div>

  <% end %>
</div>
